@model Pulperia.Models.Productos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            Fecha de Ingreso
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>
                
        <dt>
            Cantidad en Inventario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadInventario)
        </dd>

        <dt>
            Precio de Compra Invididual
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioCompraIndividual)
        </dd>

        <dt>
            Fecha de Creacion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            Fecha de Actualizacion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaActualizacion)
        </dd>
        
        <dt>
            Categoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorias.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar a la Lista", "Index")
</p>
